<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="noticeBoard">
            <h2><span jhiTranslate="igrscmsApp.noticeBoard.detail.title">Notice Board</span> {{ noticeBoard.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="igrscmsApp.noticeBoard.details">Details</span></dt>
                <dd>
                    <span>{{ noticeBoard.details }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.noticeBoard.active">Active</span></dt>
                <dd>
                    <span>{{ noticeBoard.active }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notice-board', noticeBoard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
