<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exam-time-table-heading" jhiTranslate="igrscmsApp.examTimeTable.home.createOrEditLabel">Create or edit a Exam Time Table</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.examType" for="field_examType">Exam Type</label>
                    <select class="form-control" name="examType" formControlName="examType" id="field_examType">
                        <option value="FA">{{ 'igrscmsApp.ExamType.FA' | translate }}</option>
                        <option value="SA">{{ 'igrscmsApp.ExamType.SA' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('examType')!.invalid && (editForm.get('examType')!.dirty || editForm.get('examType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('examType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.startTime" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" formControlName="startTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.endTime" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" formControlName="endTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.academicCalendar" for="field_academicCalendar">Academic Calendar</label>
                    <select class="form-control" id="field_academicCalendar" name="academicCalendar" formControlName="academicCalendarId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="academicCalendarOption.id" *ngFor="let academicCalendarOption of academiccalendars; trackBy: trackById">{{ academicCalendarOption.academicYear }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.degree" for="field_degree">Degree</label>
                    <select class="form-control" id="field_degree" name="degree" formControlName="degreeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="degreeOption.id" *ngFor="let degreeOption of degrees; trackBy: trackById">{{ degreeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" formControlName="departmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackById">{{ departmentOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.term" for="field_term">Term</label>
                    <select class="form-control" id="field_term" name="term" formControlName="termId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="termOption.id" *ngFor="let termOption of terms; trackBy: trackById">{{ termOption.title }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.examTimeTable.course" for="field_course">Course</label>
                    <select class="form-control" id="field_course" name="course" formControlName="courseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackById">{{ courseOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
