<div>
    <h2 id="page-heading">
        <span jhiTranslate="igrscmsApp.speakerDesk.home.title">Speaker Desks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-speaker-desk" [routerLink]="['/speaker-desk/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="igrscmsApp.speakerDesk.home.createLabel">
            Create a new Speaker Desk
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="speakerDesks?.length === 0">
        <span jhiTranslate="igrscmsApp.speakerDesk.home.notFound">No speakerDesks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="speakerDesks && speakerDesks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="igrscmsApp.speakerDesk.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="igrscmsApp.speakerDesk.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imgLink"><span jhiTranslate="igrscmsApp.speakerDesk.imgLink">Img Link</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="img"><span jhiTranslate="igrscmsApp.speakerDesk.img">Img</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let speakerDesk of speakerDesks ;trackBy: trackId">
                    <td><a [routerLink]="['/speaker-desk', speakerDesk.id, 'view']">{{ speakerDesk.id }}</a></td>
                    <td>{{ speakerDesk.name }}</td>
                    <td>{{ speakerDesk.note }}</td>
                    <td>{{ speakerDesk.imgLink }}</td>
                    <td>
                        <a *ngIf="speakerDesk.img" (click)="openFile(speakerDesk.imgContentType, speakerDesk.img)">
                            <img [src]="'data:' + speakerDesk.imgContentType + ';base64,' + speakerDesk.img" style="max-height: 30px;" alt="speakerDesk image"/>
                        </a>
                        <span *ngIf="speakerDesk.img">{{ speakerDesk.imgContentType }}, {{ byteSize(speakerDesk.img) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/speaker-desk', speakerDesk.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/speaker-desk', speakerDesk.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(speakerDesk)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="speakerDesks && speakerDesks.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
