<div>
    <h2 id="page-heading">
        <span jhiTranslate="igrscmsApp.galleryCat.home.title">Gallery Cats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gallery-cat" [routerLink]="['/gallery-cat/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="igrscmsApp.galleryCat.home.createLabel">
            Create a new Gallery Cat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="galleryCats?.length === 0">
        <span jhiTranslate="igrscmsApp.galleryCat.home.notFound">No galleryCats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="galleryCats && galleryCats.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="igrscmsApp.galleryCat.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="igrscmsApp.galleryCat.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imgLink"><span jhiTranslate="igrscmsApp.galleryCat.imgLink">Img Link</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="img"><span jhiTranslate="igrscmsApp.galleryCat.img">Img</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let galleryCat of galleryCats ;trackBy: trackId">
                    <td><a [routerLink]="['/gallery-cat', galleryCat.id, 'view']">{{ galleryCat.id }}</a></td>
                    <td>{{ galleryCat.name }}</td>
                    <td>{{ galleryCat.description }}</td>
                    <td>{{ galleryCat.imgLink }}</td>
                    <td>
                        <a *ngIf="galleryCat.img" (click)="openFile(galleryCat.imgContentType, galleryCat.img)">
                            <img [src]="'data:' + galleryCat.imgContentType + ';base64,' + galleryCat.img" style="max-height: 30px;" alt="galleryCat image"/>
                        </a>
                        <span *ngIf="galleryCat.img">{{ galleryCat.imgContentType }}, {{ byteSize(galleryCat.img) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/gallery-cat', galleryCat.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/gallery-cat', galleryCat.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(galleryCat)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="galleryCats && galleryCats.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
