<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="galleryCat">
            <h2><span jhiTranslate="igrscmsApp.galleryCat.detail.title">Gallery Cat</span> {{ galleryCat.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="igrscmsApp.galleryCat.name">Name</span></dt>
                <dd>
                    <span>{{ galleryCat.name }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.galleryCat.description">Description</span></dt>
                <dd>
                    <span>{{ galleryCat.description }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.galleryCat.imgLink">Img Link</span></dt>
                <dd>
                    <span>{{ galleryCat.imgLink }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.galleryCat.img">Img</span></dt>
                <dd>
                    <div *ngIf="galleryCat.img">
                        <a (click)="openFile(galleryCat.imgContentType, galleryCat.img)">
                            <img [src]="'data:' + galleryCat.imgContentType + ';base64,' + galleryCat.img" style="max-width: 100%;" alt="galleryCat image"/>
                        </a>
                        {{ galleryCat.imgContentType }}, {{ byteSize(galleryCat.img) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.galleryCat.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ galleryCat.tenantId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gallery-cat', galleryCat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
