<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-class-time-table-config-heading" jhiTranslate="igrscmsApp.classTimeTableConfig.home.createOrEditLabel">Create or edit a Class Time Table Config</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.classTimeTableConfig.timeTableGenType" for="field_timeTableGenType">Time Table Gen Type</label>
                    <select class="form-control" name="timeTableGenType" formControlName="timeTableGenType" id="field_timeTableGenType">
                        <option value="ALL_DAYS_EXCEPT_SAT">{{ 'igrscmsApp.TimeTableGenType.ALL_DAYS_EXCEPT_SAT' | translate }}</option>
                        <option value="ALL_DAYS">{{ 'igrscmsApp.TimeTableGenType.ALL_DAYS' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('timeTableGenType')!.invalid && (editForm.get('timeTableGenType')!.dirty || editForm.get('timeTableGenType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('timeTableGenType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="igrscmsApp.classTimeTableConfig.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
