<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="visionAndMission">
            <h2><span jhiTranslate="igrscmsApp.visionAndMission.detail.title">Vision And Mission</span> {{ visionAndMission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="igrscmsApp.visionAndMission.vision">Vision</span></dt>
                <dd>
                    <span>{{ visionAndMission.vision }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.visionAndMission.mission">Mission</span></dt>
                <dd>
                    <span>{{ visionAndMission.mission }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.visionAndMission.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ visionAndMission.tenantId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vision-and-mission', visionAndMission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
