<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="degree">
            <h2><span jhiTranslate="igrscmsApp.degree.detail.title">Degree</span> {{ degree.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="igrscmsApp.degree.name">Name</span></dt>
                <dd>
                    <span>{{ degree.name }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.degree.alias">Alias</span></dt>
                <dd>
                    <span>{{ degree.alias }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.degree.graduationType">Graduation Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'igrscmsApp.GraduationType.' + degree.graduationType }}">{{ degree.graduationType }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.degree.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'igrscmsApp.DegreeOrDeptType.' + degree.type }}">{{ degree.type }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.degree.numOfYears">Num Of Years</span></dt>
                <dd>
                    <span>{{ degree.numOfYears }}</span>
                </dd>
                <dt><span jhiTranslate="igrscmsApp.degree.multiBatch">Multi Batch</span></dt>
                <dd>
                    <span>{{ degree.multiBatch }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/degree', degree.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
